<div class="container" id="auth">
    <div id="modal" class="popupContainer">
        <section class="popupBody">
            <!-- Social Login -->
            <div class="social_login pb-4 pt-2">
            <div style="text-align: center; color: #212529">
                <label style="font-size: 5ch;">
                    Linguarticle
                </label>
                <br>
                <label style="font-size: 2.6ch;">
                    Your article translator!
                </label>
            </div>
                <div class="row justify-content-md-center">
                    <div class="col-lg-8 pt-4"><a href="#" id="login_form" class="btn btn-outline-secondary">Login</a>
                    </div>

                </div>
                <div class="row justify-content-md-center">
                    <div class="col-lg-8 pt-3"><a href="#" id="register_form" class="btn btn-outline-secondary">Sign
                        Up</a></div>
                </div>
            </div>

            <!-- Username & Password Login form -->
            <div class="user_login" id="login-form">
                <form>
                    <label>Username</label>
                    <input class="form-control" type="text"/>
                    <br/>

                    <label>Password</label>
                    <input class="form-control" type="password"/>
                    <br/>

                    <div class="row">
                        <div class="col"><a href="#" class="btn login-back btn-outline-secondary"><i
                                class="fa fa-angle-double-left"></i>
                            Back</a></div>
                        <div class="col"><a href="#" class="btn btn-outline-primary">Login</a></div>
                    </div>
                </form>

                <a href="#" class="forgot_password text-primary">Forgot password?</a>
                <label id="login-error" class="text-danger" style="visibility: hidden">The username or password is incorrect.</label>
            </div>

            <!-- Register Form -->
            <div class="user_register" id="signup-form">
                <form>
                    <label>Username</label>
                    <input class="form-control" type="text"/>
                    <br/>

                    <label>Email Address</label>
                    <input class="form-control" type="email"/>
                    <br/>

                    <label>Password</label>
                    <input class="form-control" type="password"/>
                    <br/>

                    <div class="row">
                        <div class="col"><a href="#" class="btn register-back btn-outline-secondary"><i
                                class="fa fa-angle-double-left"></i>
                            Back</a></div>
                        <div class="col"><a href="#" class="btn btn-outline-primary">Sign Up</a></div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>