<main>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; max-height: 100vh">
        <ul class="nav flex-column bg-dark sticky-top d-flex align-items-center mb-3 mb-md-0 me-md-auto"
            data-bs-theme="dark">
            <li class="nav-item">
                <label>
                    <form id="article-form">
                        <input id="article-url" class="form-control me-2" type="search" name="article_url"
                               placeholder="Article URL">
                        <div class="loader-line"></div>
                    </form>
                </label>
            </li>
        </ul>
        <hr>
        <div class="scrollable-nav" style="min-height: 83%">
            <ul class="nav nav-pills flex-column mb-auto">
                {% for article in articles reversed %}
                    <li class="nav-item pb-3">
                        <button class="article-button btn btn-outline-secondary text-truncate overflow-hidden col-sm-4"
                                type="button" data-article-id="{{ article.id }}">{{ article.title }}</button>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src=" https://preview.redd.it/ucezbnobnj271.png?width=568&format=png&auto=webp&s=07ac708a7b657dae6440b120dc6f9eef45cf62e0"
                         alt="" class="rounded-circle me-2" width="40em" height="40em" style="background: aliceblue">
                    <strong style="font-size: 1rem">{{ user }}</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#" id="logout-link">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <iframe class="flex-grow-1" id="article-iframe" srcdoc="{{ article }}" style="border: none;"></iframe>
</main>