<main>
    <nav class="navbar bg-light fixed-top">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button type="button" class="btn btn-secondary"
                    data-bs-toggle="popover" data-bs-placement="right"
                    data-bs-custom-class="custom-popover"
                    data-bs-title="Satish Kumar sits in front of his submerged rice paddy in India’s Haryana state, looking despairingly at his ruined crops."
                    data-bs-content="Сатіш Кумар сидить перед своїм затопленим рисовим полем в індійському штаті Хар’яна, з відчаєм дивлячись на свої знищені посіви.">
                Custom popover
            </button>
            <script>
                const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
                const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
            </script>
            <a class="navbar-brand" href="#">Linguarticle</a>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel" style="background: none">
                <div class="offcanvas-body" style="display: flex;">
                    <div class="d-flex flex-column flex-shrink-0 p-3"
                         style="width: 280px; max-height: 100vh; background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);">
                        <div>
                            <div class="nav row sticky-top"
                                 style="display: flex; gap: 1em; margin-bottom: 1em; position: sticky">
                                <button id="articles-btn" type="button" class="btn btn-outline-secondary col">Articles
                                </button>
                                <button id="vocabulary-btn" type="button" class="btn btn-outline-secondary col">
                                    Vocabulary
                                </button>
                            </div>

                            {# saved articles #}
                            <ul class="nav sticky-top saved-articles"
                                data-bs-theme="dark">
                                <li class="nav-item">
                                    <label>
                                        <form id="article-form">
                                            <input id="article-url" class="form-control me-4" type="search"
                                                   name="article_url"
                                                   placeholder="Article URL">
                                            <div class="loader-line"></div>
                                        </form>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <hr class="saved-articles">
                        <div class="scrollable-nav saved-articles">
                            <ul class="nav nav-pills flex-column mb-auto">
                                {% for article in articles reversed %}
                                    <li class="nav-item pb-3 li-article-button">
                                        <div style="display: flex; margin: 0; padding: 0"
                                             class="btn btn-outline-secondary text-truncate overflow-hidden col-sm-4">
                                            <button class="article-button btn" style="width: 25em"
                                                    type="button"
                                                    data-article-id="{{ article.id }}">{{ article.title }}</button>
                                            <button class="btn fa-solid fa-xmark article-rm" data-article-id="{{ article.id }}" style="width: 50px;"></button>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        {# saved words #}
                        <ul class="nav sticky-top saved-vocabulary"
                            data-bs-theme="dark">
                            <li class="nav-item">
                                <label>
                                    <form id="article-form">
                                        <input id="search-input" class="form-control me-4" type="search"
                                               name="search"
                                               placeholder="Search">
                                        <div class="loader-line"></div>
                                    </form>
                                </label>
                            </li>
                        </ul>
                        <hr class="saved-vocabulary">
                        <div class="scrollable-nav saved-vocabulary" id="word-list">
                            <ul class="nav nav-pills flex-column mb-auto">
                                {% for word in words reversed %}
                                    <li class="nav-item pb-3 li-word-button">
                                        <div style="display: flex; margin: 0; padding: 0"
                                             class="btn btn-outline-secondary text-truncate overflow-hidden col-sm-4">
                                            <button class="word-button btn" style="width: 25em"
                                                type="button"
                                                data-word-id="{{ word.id }}">{{ word }}</button>
                                            <button class="btn fa-solid fa-xmark word-rm" data-word-id="{{ word.id }}"
                                                    style="width: 50px;"></button>
                                        </div>

                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="account-dropup">
                            <hr>
                            <div class="dropup">
                                <a href="#"
                                   class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src=" https://preview.redd.it/ucezbnobnj271.png?width=568&format=png&auto=webp&s=07ac708a7b657dae6440b120dc6f9eef45cf62e0"
                                         alt="" class="rounded-circle me-2" width="40em" height="40em"
                                         style="background: aliceblue">
                                    <strong style="font-size: 1rem; color: #666666">{{ user }}</strong>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-light text-small shadow">
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#" id="logout-link">Log out</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </nav>
    <iframe class="flex-grow-1" id="article-iframe" srcdoc="{{ last_article.data }}" style="border: none;"></iframe>
</main>
